<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>

  </h1>
  <p>Welcome to <%= title %>
  </p>
  <button type="button" onclick="alert('Please sign up with email')"><a href="/signup">
      <h1>Sign Up</h1>
    </a></button>
  <button type="button" onclick="alert('Please Login  with email')"><a href="/login">
      <h1>Login</h1>
    </a> </button>

</body>

</html>